In [11]:
import pandas as pd
df = pd.read_csv("Finance_data.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 24 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   gender                             40 non-null     object
 1   age                                40 non-null     int64
 2   Investment_Avenues                 40 non-null     object
 3   Mutual_Funds                       40 non-null     int64
 4   Equity_Market                      40 non-null     int64
 5   Debentures                         40 non-null     int64
 6   Government_Bonds                   40 non-null     int64
 7   Fixed_Deposits                     40 non-null     int64
 8   PPF                                40 non-null     int64
 9   Gold                               40 non-null     int64
 10  Stock_Marktet                      40 non-null     object
 11  Factor                             40 non-null     object
 12  Objective                          40 non-null     object
 13  Purpose                            40 non-null     object
 14  Duration                           40 non-null     object
 15  Invest_Monitor                     40 non-null     object
 16  Expect                             40 non-null     object
 17  Avenue                             40 non-null     object
 18  What are your savings objectives?  40 non-null     object
 19  Reason_Equity                      40 non-null     object
 20  Reason_Mutual                      40 non-null     object
 21  Reason_Bonds                       40 non-null     object
 22  Reason_FD                          40 non-null     object
 23  Source                             40 non-null     object
dtypes: int64(8), object(16)
memory usage: 7.6+ KB

In [27]:
df["Investment_Avenues"].value_counts()

Investment_Avenues
Yes    37
No      3
Name: count, dtype: int64

In [23]:
import pandas as pd
o_df = pd.read_csv("Original_data.csv")
o_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 24 columns):
 #   Column                                                                                                                  Non-Null Count  Dtype
---  ------                                                                                                                  --------------  -----
 0   GENDER                                                                                                                  40 non-null     object
 1   AGE                                                                                                                     40 non-null     int64
 2   Do you invest in Investment Avenues?                                                                                    40 non-null     object
 3   What do you think are the best options for investing your money? (Rank in order of preference) [Mutual Funds]           40 non-null     int64
 4   What do you think are the best options for investing your money? (Rank in order of preference) [Equity Market]          40 non-null     int64
 5   What do you think are the best options for investing your money? (Rank in order of preference) [Debentures]             40 non-null     int64
 6   What do you think are the best options for investing your money? (Rank in order of preference) [Government Bonds]       40 non-null     int64
 7   What do you think are the best options for investing your money? (Rank in order of preference) [Fixed Deposits]         40 non-null     int64
 8   What do you think are the best options for investing your money? (Rank in order of preference) [Public Provident Fund]  40 non-null     int64
 9   What do you think are the best options for investing your money? (Rank in order of preference) [Gold]                   40 non-null     int64
 10  Do you invest in Stock Market?                                                                                          40 non-null     object
 11  What are the factors considered by you while investing in any instrument?                                               40 non-null     object
 12  What is your investment objective?                                                                                      40 non-null     object
 13  What is your purpose behind investment?                                                                                 40 non-null     object
 14  How long do you prefer to keep your money in any investment instrument?                                                 40 non-null     object
 15  How often do you monitor your investment?                                                                               40 non-null     object
 16  How much return do you expect from any investment instrument?                                                           40 non-null     object
 17  Which investment avenue do you mostly invest in?                                                                        40 non-null     object
 18  What are your savings objectives?                                                                                       40 non-null     object
 19  Reasons for investing in Equity Market                                                                                  40 non-null     object
 20  Reasons for investing in Mutual Funds                                                                                   40 non-null     object
 21  Reasons for investing in Government Bonds                                                                               40 non-null     object
 22  Reasons for investing in Fixed Deposits                                                                                 40 non-null     object
 23  Your sources of information for investments is                                                                          40 non-null     object
dtypes: int64(8), object(16)
memory usage: 7.6+ KB

In [29]:
from yahooquery import Ticker

aapl = Ticker('aapl')

aapl.summary_detail

ModuleNotFoundError: No module named 'yahooquery'

In [31]:
!pip install yahooquery

Requirement already satisfied: yahooquery in /opt/anaconda3/lib/python3.12/site-packages (2.4.1)
Requirement already satisfied: beautifulsoup4>=4.12.2 in /opt/anaconda3/lib/python3.12/site-packages (from yahooquery) (4.12.3)
Requirement already satisfied: curl-cffi>=0.10.0 in /opt/anaconda3/lib/python3.12/site-packages (from yahooquery) (0.11.4)
Requirement already satisfied: lxml>=4.9.3 in /opt/anaconda3/lib/python3.12/site-packages (from yahooquery) (5.2.1)
Requirement already satisfied: pandas>=2.2.0 in /opt/anaconda3/lib/python3.12/site-packages (from yahooquery) (2.2.2)
Requirement already satisfied: requests-futures>=1.0.1 in /opt/anaconda3/lib/python3.12/site-packages (from yahooquery) (1.0.2)
Requirement already satisfied: tqdm>=4.65.0 in /opt/anaconda3/lib/python3.12/site-packages (from yahooquery) (4.66.5)
Requirement already satisfied: soupsieve>1.2 in /opt/anaconda3/lib/python3.12/site-packages (from beautifulsoup4>=4.12.2->yahooquery) (2.5)
Requirement already satisfied: cffi>=1.12.0 in /opt/anaconda3/lib/python3.12/site-packages (from curl-cffi>=0.10.0->yahooquery) (1.17.1)
Requirement already satisfied: certifi>=2024.2.2 in /opt/anaconda3/lib/python3.12/site-packages (from curl-cffi>=0.10.0->yahooquery) (2025.6.15)
Requirement already satisfied: numpy>=1.26.0 in /opt/anaconda3/lib/python3.12/site-packages (from pandas>=2.2.0->yahooquery) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/anaconda3/lib/python3.12/site-packages (from pandas>=2.2.0->yahooquery) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda3/lib/python3.12/site-packages (from pandas>=2.2.0->yahooquery) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /opt/anaconda3/lib/python3.12/site-packages (from pandas>=2.2.0->yahooquery) (2023.3)
Requirement already satisfied: requests>=1.2.0 in /opt/anaconda3/lib/python3.12/site-packages (from requests-futures>=1.0.1->yahooquery) (2.32.3)
Requirement already satisfied: pycparser in /opt/anaconda3/lib/python3.12/site-packages (from cffi>=1.12.0->curl-cffi>=0.10.0->yahooquery) (2.21)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas>=2.2.0->yahooquery) (1.16.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /opt/anaconda3/lib/python3.12/site-packages (from requests>=1.2.0->requests-futures>=1.0.1->yahooquery) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /opt/anaconda3/lib/python3.12/site-packages (from requests>=1.2.0->requests-futures>=1.0.1->yahooquery) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in /opt/anaconda3/lib/python3.12/site-packages (from requests>=1.2.0->requests-futures>=1.0.1->yahooquery) (2.2.3)

In [33]:
from yahooquery import Ticker

ModuleNotFoundError: No module named 'yahooquery'

In [35]:
!pip install yahooquery

Requirement already satisfied: yahooquery in /opt/anaconda3/lib/python3.12/site-packages (2.4.1)
Requirement already satisfied: beautifulsoup4>=4.12.2 in /opt/anaconda3/lib/python3.12/site-packages (from yahooquery) (4.12.3)
Requirement already satisfied: curl-cffi>=0.10.0 in /opt/anaconda3/lib/python3.12/site-packages (from yahooquery) (0.11.4)
Requirement already satisfied: lxml>=4.9.3 in /opt/anaconda3/lib/python3.12/site-packages (from yahooquery) (5.2.1)
Requirement already satisfied: pandas>=2.2.0 in /opt/anaconda3/lib/python3.12/site-packages (from yahooquery) (2.2.2)
Requirement already satisfied: requests-futures>=1.0.1 in /opt/anaconda3/lib/python3.12/site-packages (from yahooquery) (1.0.2)
Requirement already satisfied: tqdm>=4.65.0 in /opt/anaconda3/lib/python3.12/site-packages (from yahooquery) (4.66.5)
Requirement already satisfied: soupsieve>1.2 in /opt/anaconda3/lib/python3.12/site-packages (from beautifulsoup4>=4.12.2->yahooquery) (2.5)
Requirement already satisfied: cffi>=1.12.0 in /opt/anaconda3/lib/python3.12/site-packages (from curl-cffi>=0.10.0->yahooquery) (1.17.1)
Requirement already satisfied: certifi>=2024.2.2 in /opt/anaconda3/lib/python3.12/site-packages (from curl-cffi>=0.10.0->yahooquery) (2025.6.15)
Requirement already satisfied: numpy>=1.26.0 in /opt/anaconda3/lib/python3.12/site-packages (from pandas>=2.2.0->yahooquery) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/anaconda3/lib/python3.12/site-packages (from pandas>=2.2.0->yahooquery) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda3/lib/python3.12/site-packages (from pandas>=2.2.0->yahooquery) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /opt/anaconda3/lib/python3.12/site-packages (from pandas>=2.2.0->yahooquery) (2023.3)
Requirement already satisfied: requests>=1.2.0 in /opt/anaconda3/lib/python3.12/site-packages (from requests-futures>=1.0.1->yahooquery) (2.32.3)
Requirement already satisfied: pycparser in /opt/anaconda3/lib/python3.12/site-packages (from cffi>=1.12.0->curl-cffi>=0.10.0->yahooquery) (2.21)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas>=2.2.0->yahooquery) (1.16.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /opt/anaconda3/lib/python3.12/site-packages (from requests>=1.2.0->requests-futures>=1.0.1->yahooquery) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /opt/anaconda3/lib/python3.12/site-packages (from requests>=1.2.0->requests-futures>=1.0.1->yahooquery) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in /opt/anaconda3/lib/python3.12/site-packages (from requests>=1.2.0->requests-futures>=1.0.1->yahooquery) (2.2.3)

In [37]:
from yahooquery import Ticker

ModuleNotFoundError: No module named 'yahooquery'

In [39]:
import sys
print(sys.executable)

/Users/souadmouajel/Desktop/Ironhack/lab-sessions/week-4/project-week4/proj-DA-midterm/.venv/bin/python

In [41]:
import sys
!{sys.executable} -m pip install --upgrade --force-reinstall yahooquery

/Users/souadmouajel/Desktop/Ironhack/lab-sessions/week-4/project-week4/proj-DA-midterm/.venv/bin/python: No module named pip

In [43]:
pip install yahooquery

Collecting yahooquery
  Using cached yahooquery-2.4.1-py3-none-any.whl.metadata (4.8 kB)
Requirement already satisfied: beautifulsoup4>=4.12.2 in ./.venv/lib/python3.12/site-packages (from yahooquery) (4.13.4)
Collecting curl-cffi>=0.10.0 (from yahooquery)
  Using cached curl_cffi-0.11.4-cp39-abi3-macosx_11_0_arm64.whl.metadata (14 kB)
Collecting lxml>=4.9.3 (from yahooquery)
  Downloading lxml-6.0.0-cp312-cp312-macosx_10_13_universal2.whl.metadata (6.6 kB)
Requirement already satisfied: pandas>=2.2.0 in ./.venv/lib/python3.12/site-packages (from yahooquery) (2.3.0)
Collecting requests-futures>=1.0.1 (from yahooquery)
  Using cached requests_futures-1.0.2-py2.py3-none-any.whl.metadata (12 kB)
Collecting tqdm>=4.65.0 (from yahooquery)
  Downloading tqdm-4.67.1-py3-none-any.whl.metadata (57 kB)
Requirement already satisfied: soupsieve>1.2 in ./.venv/lib/python3.12/site-packages (from beautifulsoup4>=4.12.2->yahooquery) (2.7)
Requirement already satisfied: typing-extensions>=4.0.0 in ./.venv/lib/python3.12/site-packages (from beautifulsoup4>=4.12.2->yahooquery) (4.14.1)
Requirement already satisfied: cffi>=1.12.0 in ./.venv/lib/python3.12/site-packages (from curl-cffi>=0.10.0->yahooquery) (1.17.1)
Requirement already satisfied: certifi>=2024.2.2 in ./.venv/lib/python3.12/site-packages (from curl-cffi>=0.10.0->yahooquery) (2025.6.15)
Requirement already satisfied: numpy>=1.26.0 in ./.venv/lib/python3.12/site-packages (from pandas>=2.2.0->yahooquery) (2.3.1)
Requirement already satisfied: python-dateutil>=2.8.2 in ./.venv/lib/python3.12/site-packages (from pandas>=2.2.0->yahooquery) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in ./.venv/lib/python3.12/site-packages (from pandas>=2.2.0->yahooquery) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in ./.venv/lib/python3.12/site-packages (from pandas>=2.2.0->yahooquery) (2025.2)
Requirement already satisfied: requests>=1.2.0 in ./.venv/lib/python3.12/site-packages (from requests-futures>=1.0.1->yahooquery) (2.32.4)
Requirement already satisfied: pycparser in ./.venv/lib/python3.12/site-packages (from cffi>=1.12.0->curl-cffi>=0.10.0->yahooquery) (2.22)
Requirement already satisfied: six>=1.5 in ./.venv/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas>=2.2.0->yahooquery) (1.17.0)
Requirement already satisfied: charset_normalizer<4,>=2 in ./.venv/lib/python3.12/site-packages (from requests>=1.2.0->requests-futures>=1.0.1->yahooquery) (3.4.2)
Requirement already satisfied: idna<4,>=2.5 in ./.venv/lib/python3.12/site-packages (from requests>=1.2.0->requests-futures>=1.0.1->yahooquery) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in ./.venv/lib/python3.12/site-packages (from requests>=1.2.0->requests-futures>=1.0.1->yahooquery) (2.5.0)
Using cached yahooquery-2.4.1-py3-none-any.whl (50 kB)
Using cached curl_cffi-0.11.4-cp39-abi3-macosx_11_0_arm64.whl (3.0 MB)
Downloading lxml-6.0.0-cp312-cp312-macosx_10_13_universal2.whl (8.4 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 8.4/8.4 MB 7.6 MB/s eta 0:00:00a 0:00:01
Using cached requests_futures-1.0.2-py2.py3-none-any.whl (7.7 kB)
Downloading tqdm-4.67.1-py3-none-any.whl (78 kB)
Installing collected packages: tqdm, lxml, requests-futures, curl-cffi, yahooquery
Successfully installed curl-cffi-0.11.4 lxml-6.0.0 requests-futures-1.0.2 tqdm-4.67.1 yahooquery-2.4.1

[notice] A new release of pip is available: 24.2 -> 25.1.1
[notice] To update, run: pip3 install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [45]:
from yahooquery import Ticker

In [47]:
from yahooquery import Ticker

aapl = Ticker('aapl')

aapl.summary_detail

{'aapl': {'maxAge': 1,
  'priceHint': 2,
  'previousClose': 213.55,
  'open': 212.68,
  'dayLow': 211.81,
  'dayHigh': 216.23,
  'regularMarketPreviousClose': 213.55,
  'regularMarketOpen': 212.68,
  'regularMarketDayLow': 211.81,
  'regularMarketDayHigh': 216.23,
  'dividendRate': 1.04,
  'dividendYield': 0.0050999997,
  'exDividendDate': '2025-05-12 02:00:00',
  'payoutRatio': 0.1558,
  'fiveYearAvgDividendYield': 0.55,
  'beta': 1.211,
  'trailingPE': 33.042786,
  'forwardPE': 25.5674,
  'volume': 13323045,
  'regularMarketVolume': 13323045,
  'averageVolume': 60369956,
  'averageVolume10days': 64380450,
  'averageDailyVolume10Day': 64380450,
  'bid': 212.2,
  'ask': 212.67,
  'bidSize': 200,
  'askSize': 200,
  'marketCap': 3173336219648,
  'fiftyTwoWeekLow': 169.21,
  'fiftyTwoWeekHigh': 260.1,
  'priceToSalesTrailing12Months': 7.926088,
  'fiftyDayAverage': 203.7188,
  'twoHundredDayAverage': 223.08815,
  'trailingAnnualDividendRate': 1.0,
  'trailingAnnualDividendYield': 0.004682744,
  'currency': 'USD',
  'fromCurrency': None,
  'toCurrency': None,
  'lastMarket': None,
  'coinMarketCapLink': None,
  'algorithm': None,
  'tradeable': False}}

In [55]:
tickers = Ticker(5)

TypeError: 'tickers' is an invalid keyword argument for print()

In [57]:
print(tickers)

<yahooquery.ticker.Ticker object at 0x120a0b350>

In [59]:
tickers = Ticker('fb aapl nflx', asynchronous=True)

# Default period = ytd, interval = 1d
df = tickers.history()
df.head()

                        open       high        low      close  volume  \
symbol date
fb     2025-06-26  40.139999  40.189999  39.910000  39.910000   36700
       2025-06-27  40.150002  40.369999  40.150002  40.249001   11300
       2025-06-30  40.450001  40.570000  40.299999  40.473999   28700
       2025-07-01  40.362000  41.404999  40.320000  40.394001   11300
       2025-07-02  40.311001  40.360001  40.240002  40.250000   50300

                    adjclose  dividends
symbol date
fb     2025-06-26  39.910000        0.0
       2025-06-27  40.249001        0.0
       2025-06-30  40.473999        0.0
       2025-07-01  40.394001        0.0
       2025-07-02  40.250000        0.0

In [61]:
print(df.columns)

Index(['open', 'high', 'low', 'close', 'volume', 'adjclose', 'dividends'], dtype='object')

In [63]:
df.head()

                        open       high        low      close  volume  \
symbol date
fb     2025-06-26  40.139999  40.189999  39.910000  39.910000   36700
       2025-06-27  40.150002  40.369999  40.150002  40.249001   11300
       2025-06-30  40.450001  40.570000  40.299999  40.473999   28700
       2025-07-01  40.362000  41.404999  40.320000  40.394001   11300
       2025-07-02  40.311001  40.360001  40.240002  40.250000   50300

                    adjclose  dividends
symbol date
fb     2025-06-26  39.910000        0.0
       2025-06-27  40.249001        0.0
       2025-06-30  40.473999        0.0
       2025-07-01  40.394001        0.0
       2025-07-02  40.250000        0.0

In [69]:
tickers = Ticker('nflx', asynchronous=True)
df = tickers.history()
print(df.head())

                         open        high         low       close   volume  \
symbol date
nflx   2025-01-02  895.500000  898.580017  877.000000  886.729980  2312300
       2025-01-03  893.130005  898.830017  879.890015  881.049988  2967300
       2025-01-06  888.760010  892.830017  871.690002  881.789978  3457700
       2025-01-07  879.380005  888.000000  869.109985  879.190002  2649800
       2025-01-08  880.000000  886.219971  873.000000  875.000000  2347900

                     adjclose
symbol date
nflx   2025-01-02  886.729980
       2025-01-03  881.049988
       2025-01-06  881.789978
       2025-01-07  879.190002
       2025-01-08  875.000000

In [71]:
from yahooquery import Ticker
# GSPC: S&P 500, DJI: Dow Johnes Industrial, IXIC: Nasdaq
# Major stock indexes tickers
index_tickers = '^GSPC ^DJI ^IXIC'

tickers = Ticker(index_tickers, asynchronous=True)

# Fetch 1 year daily historical data
df = tickers.history(period='1y', interval='1d')

print(df.head())

# Optionally reset index to view symbol and date as columns
df_reset = df.reset_index()
print(df_reset.head())

                          open         high          low        close  \
symbol date
^GSPC  2024-07-08  5572.750000  5583.109863  5562.509766  5572.850098
       2024-07-09  5584.240234  5590.750000  5574.569824  5576.979980
       2024-07-10  5591.259766  5635.390137  5586.439941  5633.910156
       2024-07-11  5635.209961  5642.450195  5576.529785  5584.540039
       2024-07-12  5590.759766  5655.560059  5590.439941  5615.350098

                       volume     adjclose
symbol date
^GSPC  2024-07-08  3185670000  5572.850098
       2024-07-09  3232920000  5576.979980
       2024-07-10  3336100000  5633.910156
       2024-07-11  4020950000  5584.540039
       2024-07-12  3700280000  5615.350098
  symbol        date         open         high          low        close  \
0  ^GSPC  2024-07-08  5572.750000  5583.109863  5562.509766  5572.850098
1  ^GSPC  2024-07-09  5584.240234  5590.750000  5574.569824  5576.979980
2  ^GSPC  2024-07-10  5591.259766  5635.390137  5586.439941  5633.910156
3  ^GSPC  2024-07-11  5635.209961  5642.450195  5576.529785  5584.540039
4  ^GSPC  2024-07-12  5590.759766  5655.560059  5590.439941  5615.350098

       volume     adjclose
0  3185670000  5572.850098
1  3232920000  5576.979980
2  3336100000  5633.910156
3  4020950000  5584.540039
4  3700280000  5615.350098

In [83]:
df_reset.head(10)

,symbol,date,open,high,low,close,volume,adjclose
0,^GSPC,2024-07-08,5572.750000,5583.109863,5562.509766,5572.850098,3185670000,5572.850098
1,^GSPC,2024-07-09,5584.240234,5590.750000,5574.569824,5576.979980,3232920000,5576.979980
2,^GSPC,2024-07-10,5591.259766,5635.390137,5586.439941,5633.910156,3336100000,5633.910156
3,^GSPC,2024-07-11,5635.209961,5642.450195,5576.529785,5584.540039,4020950000,5584.540039
4,^GSPC,2024-07-12,5590.759766,5655.560059,5590.439941,5615.350098,3700280000,5615.350098
5,^GSPC,2024-07-15,5638.160156,5666.939941,5614.750000,5631.220215,3620470000,5631.220215
6,^GSPC,2024-07-16,5644.089844,5669.669922,5639.020020,5667.200195,4041760000,5667.200195
7,^GSPC,2024-07-17,5610.069824,5622.490234,5584.810059,5588.270020,4246450000,5588.270020
8,^GSPC,2024-07-18,5608.560059,5614.049805,5522.810059,5544.589844,4007510000,5544.589844
9,^GSPC,2024-07-19,5543.370117,5557.500000,5497.040039,5505.000000,3760570000,5505.000000

In [77]:
df_reset["symbol"].value_counts()

symbol
^GSPC    250
^DJI     250
^IXIC    250
Name: count, dtype: int64

In [79]:
df_reset = df.reset_index()

In [81]:
df_reset.to_csv('stock_indexes_data.csv', index=False)

In [85]:
import pandas as pd

data = {
    "content": [
        "Tesla Inc. shares fell after Elon Musk announced he’s forming a new political party, digging deeper into a pursuit that’s been a drag on his most valuable business. Most Read from BloombergAre Tourists Ruining Europe? How Locals Are Pushing BackForeign Buyers Swoop on Cape Town Homes, Pricing Out LocalsTrump’s Gilded Design Style May Be Gaudy. But Don’t Call it ‘Rococo.’Massachusetts to Follow NYC in Making Landlords Pay Broker FeesIn California, Pro-Housing ‘Abundance’ Fans Rewri"
    ]
}

n_df = pd.DataFrame(data)

In [89]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer
import nltk

ModuleNotFoundError: No module named 'nltk'

In [ ]:
nltk.download('vader_lexicon')

sia = SentimentIntensityAnalyzer()

# Apply sentiment analysis to the 'content' column
n_df['sentiment_scores'] = n_df['content'].apply(lambda x: sia.polarity_scores(x))

# Extract compound score (overall sentiment)
n_df['compound'] = n_df['sentiment_scores'].apply(lambda score_dict: score_dict['compound'])

# Optional: categorize sentiment
def label_sentiment(compound):
    if compound >= 0.05:
        return 'Positive'
    elif compound <= -0.05:
        return 'Negative'
    else:
        return 'Neutral'

n_df['sentiment_label'] = n_df['compound'].apply(label_sentiment)

print(n_df[['content', 'compound', 'sentiment_label']])

In [91]:
import nltk
nltk.download('vader_lexicon')

ModuleNotFoundError: No module named 'nltk'