In [5]:
!pip install ucimlrepo

Requirement already satisfied: ucimlrepo in /opt/anaconda3/lib/python3.12/site-packages (0.0.7)
Requirement already satisfied: pandas>=1.0.0 in /opt/anaconda3/lib/python3.12/site-packages (from ucimlrepo) (2.2.2)
Requirement already satisfied: certifi>=2020.12.5 in /opt/anaconda3/lib/python3.12/site-packages (from ucimlrepo) (2025.6.15)
Requirement already satisfied: numpy>=1.26.0 in /opt/anaconda3/lib/python3.12/site-packages (from pandas>=1.0.0->ucimlrepo) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/anaconda3/lib/python3.12/site-packages (from pandas>=1.0.0->ucimlrepo) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda3/lib/python3.12/site-packages (from pandas>=1.0.0->ucimlrepo) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /opt/anaconda3/lib/python3.12/site-packages (from pandas>=1.0.0->ucimlrepo) (2023.3)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas>=1.0.0->ucimlrepo) (1.16.0)

In [7]:
from ucimlrepo import fetch_ucirepo

In [8]:
from ucimlrepo import fetch_ucirepo 
  
# fetch dataset 
statlog_german_credit_data = fetch_ucirepo(id=144) 
  
# data (as pandas dataframes) 
X = statlog_german_credit_data.data.features 
y = statlog_german_credit_data.data.targets 
  
# metadata 
print(statlog_german_credit_data.metadata) 
  
# variable information 
print(statlog_german_credit_data.variables)

{'uci_id': 144, 'name': 'Statlog (German Credit Data)', 'repository_url': 'https://archive.ics.uci.edu/dataset/144/statlog+german+credit+data', 'data_url': 'https://archive.ics.uci.edu/static/public/144/data.csv', 'abstract': 'This dataset classifies people described by a set of attributes as good or bad credit risks. Comes in two formats (one all numeric). Also comes with a cost matrix', 'area': 'Social Science', 'tasks': ['Classification'], 'characteristics': ['Multivariate'], 'num_instances': 1000, 'num_features': 20, 'feature_types': ['Categorical', 'Integer'], 'demographics': ['Other', 'Marital Status', 'Age', 'Occupation'], 'target_col': ['class'], 'index_col': None, 'has_missing_values': 'no', 'missing_values_symbol': None, 'year_of_dataset_creation': 1994, 'last_updated': 'Thu Aug 10 2023', 'dataset_doi': '10.24432/C5NC77', 'creators': ['Hans Hofmann'], 'intro_paper': None, 'additional_info': {'summary': 'Two datasets are provided.  the original dataset, in the form provided by Prof. Hofmann, contains categorical/symbolic attributes and is in the file "german.data".   \r\n \r\nFor algorithms that need numerical attributes, Strathclyde University produced the file "german.data-numeric".  This file has been edited and several indicator variables added to make it suitable for algorithms which cannot cope with categorical variables.   Several attributes that are ordered categorical (such as attribute 17) have been coded as integer.    This was the form used by StatLog.\r\n\r\nThis dataset requires use of a cost matrix (see below)\r\n\r\n ..... 1        2\r\n----------------------------\r\n  1   0        1\r\n-----------------------\r\n  2   5        0\r\n\r\n(1 = Good,  2 = Bad)\r\n\r\nThe rows represent the actual classification and the columns the predicted classification.\r\n\r\nIt is worse to class a customer as good when they are bad (5), than it is to class a customer as bad when they are good (1).\r\n', 'purpose': None, 'funded_by': None, 'instances_represent': None, 'recommended_data_splits': None, 'sensitive_data': None, 'preprocessing_description': None, 'variable_info': 'Attribute 1:  (qualitative)      \r\n Status of existing checking account\r\n             A11 :      ... <    0 DM\r\n\t       A12 : 0 <= ... <  200 DM\r\n\t       A13 :      ... >= 200 DM / salary assignments for at least 1 year\r\n               A14 : no checking account\r\n\r\nAttribute 2:  (numerical)\r\n\t      Duration in month\r\n\r\nAttribute 3:  (qualitative)\r\n\t      Credit history\r\n\t      A30 : no credits taken/ all credits paid back duly\r\n              A31 : all credits at this bank paid back duly\r\n\t      A32 : existing credits paid back duly till now\r\n              A33 : delay in paying off in the past\r\n\t      A34 : critical account/  other credits existing (not at this bank)\r\n\r\nAttribute 4:  (qualitative)\r\n\t      Purpose\r\n\t      A40 : car (new)\r\n\t      A41 : car (used)\r\n\t      A42 : furniture/equipment\r\n\t      A43 : radio/television\r\n\t      A44 : domestic appliances\r\n\t      A45 : repairs\r\n\t      A46 : education\r\n\t      A47 : (vacation - does not exist?)\r\n\t      A48 : retraining\r\n\t      A49 : business\r\n\t      A410 : others\r\n\r\nAttribute 5:  (numerical)\r\n\t      Credit amount\r\n\r\nAttibute 6:  (qualitative)\r\n\t      Savings account/bonds\r\n\t      A61 :          ... <  100 DM\r\n\t      A62 :   100 <= ... <  500 DM\r\n\t      A63 :   500 <= ... < 1000 DM\r\n\t      A64 :          .. >= 1000 DM\r\n              A65 :   unknown/ no savings account\r\n\r\nAttribute 7:  (qualitative)\r\n\t      Present employment since\r\n\t      A71 : unemployed\r\n\t      A72 :       ... < 1 year\r\n\t      A73 : 1  <= ... < 4 years  \r\n\t      A74 : 4  <= ... < 7 years\r\n\t      A75 :       .. >= 7 years\r\n\r\nAttribute 8:  (numerical)\r\n\t      Installment rate in percentage of disposable income\r\n\r\nAttribute 9:  (qualitative)\r\n\t      Personal status and sex\r\n\t      A91 : male   : divorced/separated\r\n\t      A92 : female : divorced/separated/married\r\n              A93 : male   : single\r\n\t      A94 : male   : married/widowed\r\n\t      A95 : female : single\r\n\r\nAttribute 10: (qualitative)\r\n\t      Other debtors / guarantors\r\n\t      A101 : none\r\n\t      A102 : co-applicant\r\n\t      A103 : guarantor\r\n\r\nAttribute 11: (numerical)\r\n\t      Present residence since\r\n\r\nAttribute 12: (qualitative)\r\n\t      Property\r\n\t      A121 : real estate\r\n\t      A122 : if not A121 : building society savings agreement/ life insurance\r\n              A123 : if not A121/A122 : car or other, not in attribute 6\r\n\t      A124 : unknown / no property\r\n\r\nAttribute 13: (numerical)\r\n\t      Age in years\r\n\r\nAttribute 14: (qualitative)\r\n\t      Other installment plans \r\n\t      A141 : bank\r\n\t      A142 : stores\r\n\t      A143 : none\r\n\r\nAttribute 15: (qualitative)\r\n\t      Housing\r\n\t      A151 : rent\r\n\t      A152 : own\r\n\t      A153 : for free\r\n\r\nAttribute 16: (numerical)\r\n              Number of existing credits at this bank\r\n\r\nAttribute 17: (qualitative)\r\n\t      Job\r\n\t      A171 : unemployed/ unskilled  - non-resident\r\n\t      A172 : unskilled - resident\r\n\t      A173 : skilled employee / official\r\n\t      A174 : management/ self-employed/\r\n\t\t     highly qualified employee/ officer\r\n\r\nAttribute 18: (numerical)\r\n\t      Number of people being liable to provide maintenance for\r\n\r\nAttribute 19: (qualitative)\r\n\t      Telephone\r\n\t      A191 : none\r\n\t      A192 : yes, registered under the customers name\r\n\r\nAttribute 20: (qualitative)\r\n\t      foreign worker\r\n\t      A201 : yes\r\n\t      A202 : no\r\n', 'citation': None}}
           name     role         type     demographic  \
0    Attribute1  Feature  Categorical            None
1    Attribute2  Feature      Integer            None
2    Attribute3  Feature  Categorical            None
3    Attribute4  Feature  Categorical            None
4    Attribute5  Feature      Integer            None
5    Attribute6  Feature  Categorical            None
6    Attribute7  Feature  Categorical           Other
7    Attribute8  Feature      Integer            None
8    Attribute9  Feature  Categorical  Marital Status
9   Attribute10  Feature  Categorical            None
10  Attribute11  Feature      Integer            None
11  Attribute12  Feature  Categorical            None
12  Attribute13  Feature      Integer             Age
13  Attribute14  Feature  Categorical            None
14  Attribute15  Feature  Categorical           Other
15  Attribute16  Feature      Integer            None
16  Attribute17  Feature  Categorical      Occupation
17  Attribute18  Feature      Integer            None
18  Attribute19  Feature       Binary            None
19  Attribute20  Feature       Binary           Other
20        class   Target       Binary            None

                                          description   units missing_values
0                 Status of existing checking account    None             no
1                                            Duration  months             no
2                                      Credit history    None             no
3                                             Purpose    None             no
4                                       Credit amount    None             no
5                               Savings account/bonds    None             no
6                            Present employment since    None             no
7   Installment rate in percentage of disposable i...    None             no
8                             Personal status and sex    None             no
9                          Other debtors / guarantors    None             no
10                            Present residence since    None             no
11                                           Property    None             no
12                                                Age   years             no
13                            Other installment plans    None             no
14                                            Housing    None             no
15            Number of existing credits at this bank    None             no
16                                                Job    None             no
17  Number of people being liable to provide maint...    None             no
18                                          Telephone    None             no
19                                     foreign worker    None             no
20                                  1 = Good, 2 = Bad    None             no

In [9]:
from ucimlrepo import fetch_ucirepo
import pandas as pd

# Fetch dataset
statlog_german_credit_data = fetch_ucirepo(id=144)

# Features and target as DataFrames
X = statlog_german_credit_data.data.features
y = statlog_german_credit_data.data.targets

# Combine into a single DataFrame
df = pd.concat([X, y], axis=1)

# Save to CSV
df.to_csv("german_credit_row_data.csv", index=False)

# Return the DataFrame
df.head()

,Attribute1,Attribute2,Attribute3,Attribute4,Attribute5,Attribute6,Attribute7,Attribute8,Attribute9,Attribute10,...,Attribute12,Attribute13,Attribute14,Attribute15,Attribute16,Attribute17,Attribute18,Attribute19,Attribute20,class
0,A11,6,A34,A43,1169,A65,A75,4,A93,A101,...,A121,67,A143,A152,2,A173,1,A192,A201,1
1,A12,48,A32,A43,5951,A61,A73,2,A92,A101,...,A121,22,A143,A152,1,A173,1,A191,A201,2
2,A14,12,A34,A46,2096,A61,A74,2,A93,A101,...,A121,49,A143,A152,1,A172,2,A191,A201,1
3,A11,42,A32,A42,7882,A61,A74,2,A93,A103,...,A122,45,A143,A153,1,A173,2,A191,A201,1
4,A11,24,A33,A40,4870,A61,A73,3,A93,A101,...,A124,53,A143,A153,2,A173,2,A191,A201,2

In [10]:
from ucimlrepo import fetch_ucirepo
import pandas as pd

# Step 1: Fetch the dataset
dataset = fetch_ucirepo(id=144)

# Step 2: Combine features and target into one DataFrame
df = pd.concat([dataset.data.features, dataset.data.targets], axis=1)

# Step 3: Extract the metadata table
meta = dataset.variables  # contains name, description, type, etc.

# Step 4: Map coded column names to full descriptions
column_description_map = dict(zip(meta['name'], meta['description']))
df_renamed = df.rename(columns=column_description_map)

# Step 5: Save to CSV
df_renamed.to_csv("german_credit_data_descriptive.csv", index=False)

# Show first few rows
df_renamed.head()

,Status of existing checking account,Duration,Credit history,Purpose,Credit amount,Savings account/bonds,Present employment since,Installment rate in percentage of disposable income,Personal status and sex,Other debtors / guarantors,...,Property,Age,Other installment plans,Housing,Number of existing credits at this bank,Job,Number of people being liable to provide maintenance for,Telephone,foreign worker,"1 = Good, 2 = Bad"
0,A11,6,A34,A43,1169,A65,A75,4,A93,A101,...,A121,67,A143,A152,2,A173,1,A192,A201,1
1,A12,48,A32,A43,5951,A61,A73,2,A92,A101,...,A121,22,A143,A152,1,A173,1,A191,A201,2
2,A14,12,A34,A46,2096,A61,A74,2,A93,A101,...,A121,49,A143,A152,1,A172,2,A191,A201,1
3,A11,42,A32,A42,7882,A61,A74,2,A93,A103,...,A122,45,A143,A153,1,A173,2,A191,A201,1
4,A11,24,A33,A40,4870,A61,A73,3,A93,A101,...,A124,53,A143,A153,2,A173,2,A191,A201,2

In [10]:
from ucimlrepo import fetch_ucirepo
import pandas as pd

# Step 1: Fetch the dataset
dataset = fetch_ucirepo(id=144)

# Step 2: Combine features and target into one DataFrame
df = pd.concat([dataset.data.features, dataset.data.targets], axis=1)

# Step 3: Extract the metadata table
meta = dataset.variables  # contains name, description, type, etc.

# Step 4: Map coded column names to full descriptions
column_description_map = dict(zip(meta['name'], meta['description']))
df_renamed = df.rename(columns=column_description_map)

# Step 5: Save to CSV
df_renamed.to_csv("german_credit_data_descriptive.csv", index=False)

# Show first few rows
df_renamed.head()

,Status of existing checking account,Duration,Credit history,Purpose,Credit amount,Savings account/bonds,Present employment since,Installment rate in percentage of disposable income,Personal status and sex,Other debtors / guarantors,...,Property,Age,Other installment plans,Housing,Number of existing credits at this bank,Job,Number of people being liable to provide maintenance for,Telephone,foreign worker,"1 = Good, 2 = Bad"
0,A11,6,A34,A43,1169,A65,A75,4,A93,A101,...,A121,67,A143,A152,2,A173,1,A192,A201,1
1,A12,48,A32,A43,5951,A61,A73,2,A92,A101,...,A121,22,A143,A152,1,A173,1,A191,A201,2
2,A14,12,A34,A46,2096,A61,A74,2,A93,A101,...,A121,49,A143,A152,1,A172,2,A191,A201,1
3,A11,42,A32,A42,7882,A61,A74,2,A93,A103,...,A122,45,A143,A153,1,A173,2,A191,A201,1
4,A11,24,A33,A40,4870,A61,A73,3,A93,A101,...,A124,53,A143,A153,2,A173,2,A191,A201,2

In [35]:
from ucimlrepo import fetch_ucirepo
import pandas as pd

# Step 1: Fetch the dataset
dataset = fetch_ucirepo(id=144)

# Step 2: Combine features and target into one DataFrame
df = pd.concat([dataset.data.features, dataset.data.targets], axis=1)

# Step 3: Extract the metadata table
meta = dataset.variables  # contains name, description, type, etc.

# Step 4: Map coded column names to full descriptions
column_description_map = dict(zip(meta['name'], meta['description']))
df_renamed = df.rename(columns=column_description_map)

# Step 5: Save to CSV
df_renamed.to_csv("german_credit_data_descriptive.csv", index=False)

# Show first few rows
df_renamed.head()

,Status of existing checking account,Duration,Credit history,Purpose,Credit amount,Savings account/bonds,Present employment since,Installment rate in percentage of disposable income,Personal status and sex,Other debtors / guarantors,...,Property,Age,Other installment plans,Housing,Number of existing credits at this bank,Job,Number of people being liable to provide maintenance for,Telephone,foreign worker,"1 = Good, 2 = Bad"
0,A11,6,A34,A43,1169,A65,A75,4,A93,A101,...,A121,67,A143,A152,2,A173,1,A192,A201,1
1,A12,48,A32,A43,5951,A61,A73,2,A92,A101,...,A121,22,A143,A152,1,A173,1,A191,A201,2
2,A14,12,A34,A46,2096,A61,A74,2,A93,A101,...,A121,49,A143,A152,1,A172,2,A191,A201,1
3,A11,42,A32,A42,7882,A61,A74,2,A93,A103,...,A122,45,A143,A153,1,A173,2,A191,A201,1
4,A11,24,A33,A40,4870,A61,A73,3,A93,A101,...,A124,53,A143,A153,2,A173,2,A191,A201,2

In [36]:
df_renamed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 21 columns):
 #   Column                                                    Non-Null Count  Dtype
---  ------                                                    --------------  -----
 0   Status of existing checking account                       1000 non-null   object
 1   Duration                                                  1000 non-null   int64
 2   Credit history                                            1000 non-null   object
 3   Purpose                                                   1000 non-null   object
 4   Credit amount                                             1000 non-null   int64
 5   Savings account/bonds                                     1000 non-null   object
 6   Present employment since                                  1000 non-null   object
 7   Installment rate in percentage of disposable income       1000 non-null   int64
 8   Personal status and sex                                   1000 non-null   object
 9   Other debtors / guarantors                                1000 non-null   object
 10  Present residence since                                   1000 non-null   int64
 11  Property                                                  1000 non-null   object
 12  Age                                                       1000 non-null   int64
 13  Other installment plans                                   1000 non-null   object
 14  Housing                                                   1000 non-null   object
 15  Number of existing credits at this bank                   1000 non-null   int64
 16  Job                                                       1000 non-null   object
 17  Number of people being liable to provide maintenance for  1000 non-null   int64
 18  Telephone                                                 1000 non-null   object
 19  foreign worker                                            1000 non-null   object
 20  1 = Good, 2 = Bad                                         1000 non-null   int64
dtypes: int64(8), object(13)
memory usage: 164.2+ KB

In [37]:
status_checking_account_map = {
    'A11': '< 0 DM',
    'A12': '0 <= ... < 200 DM',
    'A13': '>= 200 DM / salary assignment',
    'A14': 'no checking account'
}

In [38]:
df_renamed['Status of existing checking account'] = df_renamed['Status of existing checking account'].map(status_checking_account_map)

In [39]:
df_renamed['Status of existing checking account'].value_counts()

Status of existing checking account
no checking account              394
< 0 DM                           274
0 <= ... < 200 DM                269
>= 200 DM / salary assignment     63
Name: count, dtype: int64

In [40]:
df_renamed["1 = Good, 2 = Bad"].value_counts()

1 = Good, 2 = Bad
1    700
2    300
Name: count, dtype: int64

In [41]:
df_renamed.head(5)

,Status of existing checking account,Duration,Credit history,Purpose,Credit amount,Savings account/bonds,Present employment since,Installment rate in percentage of disposable income,Personal status and sex,Other debtors / guarantors,...,Property,Age,Other installment plans,Housing,Number of existing credits at this bank,Job,Number of people being liable to provide maintenance for,Telephone,foreign worker,"1 = Good, 2 = Bad"
0,< 0 DM,6,A34,A43,1169,A65,A75,4,A93,A101,...,A121,67,A143,A152,2,A173,1,A192,A201,1
1,0 <= ... < 200 DM,48,A32,A43,5951,A61,A73,2,A92,A101,...,A121,22,A143,A152,1,A173,1,A191,A201,2
2,no checking account,12,A34,A46,2096,A61,A74,2,A93,A101,...,A121,49,A143,A152,1,A172,2,A191,A201,1
3,< 0 DM,42,A32,A42,7882,A61,A74,2,A93,A103,...,A122,45,A143,A153,1,A173,2,A191,A201,1
4,< 0 DM,24,A33,A40,4870,A61,A73,3,A93,A101,...,A124,53,A143,A153,2,A173,2,A191,A201,2

In [42]:
credit_history_map = {
    'A30': 'no credits / all paid back',
    'A31': 'all credits at this bank paid back',
    'A32': 'existing credits paid back duly',
    'A33': 'delays in past payments',
    'A34': 'critical account / other credits exist'
}
purpose_map = {
    'A40': 'car (new)',
    'A41': 'car (used)',
    'A42': 'furniture/equipment',
    'A43': 'radio/television',
    'A44': 'domestic appliances',
    'A45': 'repairs',
    'A46': 'education',
    'A47': 'vacation',
    'A48': 'retraining',
    'A49': 'business',
    'A410': 'others'
}
savings_map = {
    'A61': '< 100 DM',
    'A62': '100 <= ... < 500 DM',
    'A63': '500 <= ... < 1000 DM',
    'A64': '>= 1000 DM',
    'A65': 'unknown / no savings'
}
employment_map = {
    'A71': 'unemployed',
    'A72': '< 1 year',
    'A73': '1 <= ... < 4 years',
    'A74': '4 <= ... < 7 years',
    'A75': '>= 7 years'
}
personal_status_sex_map = {
    'A91': 'male : divorced/separated',
    'A92': 'female : divorced/separated/married',
    'A93': 'male : single',
    'A94': 'male : married/widowed',
    'A95': 'female : single'
}
other_debtors_map = {
    'A101': 'none',
    'A102': 'co-applicant',
    'A103': 'guarantor'
}
property_map = {
    'A121': 'real estate',
    'A122': 'building society / life insurance',
    'A123': 'car or other',
    'A124': 'unknown / no property'
}
other_installment_plans_map = {
    'A141': 'bank',
    'A142': 'stores',
    'A143': 'none'
}
housing_map = {
    'A151': 'rent',
    'A152': 'own',
    'A153': 'for free'
}
job_map = {
    'A171': 'unemployed / unskilled – non-resident',
    'A172': 'unskilled – resident',
    'A173': 'skilled employee / official',
    'A174': 'management / self-employed / highly qualified / officer'
}
telephone_map = {
    'A191': 'none',
    'A192': 'yes, registered under customer'
}
foreign_worker_map = {
    'A201': 'yes',
    'A202': 'no'
}

In [42]:
credit_history_map = {
    'A30': 'no credits / all paid back',
    'A31': 'all credits at this bank paid back',
    'A32': 'existing credits paid back duly',
    'A33': 'delays in past payments',
    'A34': 'critical account / other credits exist'
}
purpose_map = {
    'A40': 'car (new)',
    'A41': 'car (used)',
    'A42': 'furniture/equipment',
    'A43': 'radio/television',
    'A44': 'domestic appliances',
    'A45': 'repairs',
    'A46': 'education',
    'A47': 'vacation',
    'A48': 'retraining',
    'A49': 'business',
    'A410': 'others'
}
savings_map = {
    'A61': '< 100 DM',
    'A62': '100 <= ... < 500 DM',
    'A63': '500 <= ... < 1000 DM',
    'A64': '>= 1000 DM',
    'A65': 'unknown / no savings'
}
employment_map = {
    'A71': 'unemployed',
    'A72': '< 1 year',
    'A73': '1 <= ... < 4 years',
    'A74': '4 <= ... < 7 years',
    'A75': '>= 7 years'
}
personal_status_sex_map = {
    'A91': 'male : divorced/separated',
    'A92': 'female : divorced/separated/married',
    'A93': 'male : single',
    'A94': 'male : married/widowed',
    'A95': 'female : single'
}
other_debtors_map = {
    'A101': 'none',
    'A102': 'co-applicant',
    'A103': 'guarantor'
}
property_map = {
    'A121': 'real estate',
    'A122': 'building society / life insurance',
    'A123': 'car or other',
    'A124': 'unknown / no property'
}
other_installment_plans_map = {
    'A141': 'bank',
    'A142': 'stores',
    'A143': 'none'
}
housing_map = {
    'A151': 'rent',
    'A152': 'own',
    'A153': 'for free'
}
job_map = {
    'A171': 'unemployed / unskilled – non-resident',
    'A172': 'unskilled – resident',
    'A173': 'skilled employee / official',
    'A174': 'management / self-employed / highly qualified / officer'
}
telephone_map = {
    'A191': 'none',
    'A192': 'yes, registered under customer'
}
foreign_worker_map = {
    'A201': 'yes',
    'A202': 'no'
}

In [43]:
df_renamed['Credit history'] = df_renamed['Credit history'].map(credit_history_map)
df_renamed['Purpose'] = df_renamed['Purpose'].map(purpose_map)
df_renamed['Savings account/bonds'] = df_renamed['Savings account/bonds'].map(savings_map)
df_renamed['Present employment since'] = df_renamed['Present employment since'].map(employment_map)
df_renamed['Personal status and sex'] = df_renamed['Personal status and sex'].map(personal_status_sex_map)
df_renamed['Other debtors / guarantors'] = df_renamed['Other debtors / guarantors'].map(other_debtors_map)
df_renamed['Property'] = df_renamed['Property'].map(property_map)
df_renamed['Other installment plans'] = df_renamed['Other installment plans'].map(other_installment_plans_map)
df_renamed['Housing'] = df_renamed['Housing'].map(housing_map)
df_renamed['Job'] = df_renamed['Job'].map(job_map)
df_renamed['Telephone'] = df_renamed['Telephone'].map(telephone_map)
df_renamed['foreign worker'] = df_renamed['foreign worker'].map(foreign_worker_map)

In [44]:
df_renamed.head(5)

,Status of existing checking account,Duration,Credit history,Purpose,Credit amount,Savings account/bonds,Present employment since,Installment rate in percentage of disposable income,Personal status and sex,Other debtors / guarantors,...,Property,Age,Other installment plans,Housing,Number of existing credits at this bank,Job,Number of people being liable to provide maintenance for,Telephone,foreign worker,"1 = Good, 2 = Bad"
0,< 0 DM,6,critical account / other credits exist,radio/television,1169,unknown / no savings,>= 7 years,4,male : single,none,...,real estate,67,none,own,2,skilled employee / official,1,"yes, registered under customer",yes,1
1,0 <= ... < 200 DM,48,existing credits paid back duly,radio/television,5951,< 100 DM,1 <= ... < 4 years,2,female : divorced/separated/married,none,...,real estate,22,none,own,1,skilled employee / official,1,none,yes,2
2,no checking account,12,critical account / other credits exist,education,2096,< 100 DM,4 <= ... < 7 years,2,male : single,none,...,real estate,49,none,own,1,unskilled – resident,2,none,yes,1
3,< 0 DM,42,existing credits paid back duly,furniture/equipment,7882,< 100 DM,4 <= ... < 7 years,2,male : single,guarantor,...,building society / life insurance,45,none,for free,1,skilled employee / official,2,none,yes,1
4,< 0 DM,24,delays in past payments,car (new),4870,< 100 DM,1 <= ... < 4 years,3,male : single,none,...,unknown / no property,53,none,for free,2,skilled employee / official,2,none,yes,2

In [23]:
## Hypothesis :
# Loans taken for business and education is more riskier than other loans. Most likely to have a delay in payment. --> Relationship purpose and good/ bad
# The credit history is really an important crieteria for good/ bad than any other attributes
# Case one : Someone with good credit history but with no present job are they considered good or bad ? 
# Group by good / bad and do percentages for the same situation and compare if they are most likely considered good or bad.
# Doing the same based on identity
# If they don't have a checking account are most likely critical account

In [24]:
# status_of_existing_checking_account:status_checking_account
# duration:duration_in_month
# credit_history:
# purpose:
# credit_amount
# savings_account/bonds:
# present_employment_since:present_employment,
# installment_rate_in_percentage_of_disposable_income:installment_rate,
# personal_status_and_sex:gender_status
# other_debtors_/_guarantors
# present_residence_since:present_residence
# property
# age
# other_installment_plans:other_installment
# housing
# number_of_existing_credits_at_this_bank:existing_credits
# job:job_skill,
# number_of_people_being_liable_to_provide_maintenance_for:number_of_dependents
# telephone
# foreign_worker
# 1_=_good,_2_=_bad:score

In [45]:
df_renamed = df_renamed.rename(columns={'status_of_existing_checking_account': 'status_checking_account', 'duration': 'duration_in_month',
                           "present_employment_since":"present_employment", "installment_rate_in_percentage_of_disposable_income":"installment_rate", 
                           "personal_status_and_sex":"gender_status", "present_residence_since":"present_residence", 
                           "number_of_existing_credits_at_this_bank":"existing_credits", "job":"job_skill",
                           "number_of_people_being_liable_to_provide_maintenance_for":"number_of_dependents", "1_=_good,_2_=_bad": "score" })

In [46]:
df_renamed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 21 columns):
 #   Column                                                    Non-Null Count  Dtype
---  ------                                                    --------------  -----
 0   Status of existing checking account                       1000 non-null   object
 1   Duration                                                  1000 non-null   int64
 2   Credit history                                            1000 non-null   object
 3   Purpose                                                   1000 non-null   object
 4   Credit amount                                             1000 non-null   int64
 5   Savings account/bonds                                     1000 non-null   object
 6   Present employment since                                  1000 non-null   object
 7   Installment rate in percentage of disposable income       1000 non-null   int64
 8   Personal status and sex                                   1000 non-null   object
 9   Other debtors / guarantors                                1000 non-null   object
 10  Present residence since                                   1000 non-null   int64
 11  Property                                                  1000 non-null   object
 12  Age                                                       1000 non-null   int64
 13  Other installment plans                                   1000 non-null   object
 14  Housing                                                   1000 non-null   object
 15  Number of existing credits at this bank                   1000 non-null   int64
 16  Job                                                       1000 non-null   object
 17  Number of people being liable to provide maintenance for  1000 non-null   int64
 18  Telephone                                                 1000 non-null   object
 19  foreign worker                                            1000 non-null   object
 20  1 = Good, 2 = Bad                                         1000 non-null   int64
dtypes: int64(8), object(13)
memory usage: 164.2+ KB

In [47]:
print(df_renamed.columns.tolist())

['Status of existing checking account', 'Duration', 'Credit history', 'Purpose', 'Credit amount', 'Savings account/bonds', 'Present employment since', 'Installment rate in percentage of disposable income', 'Personal status and sex', 'Other debtors / guarantors', 'Present residence since', 'Property', 'Age', 'Other installment plans', 'Housing', 'Number of existing credits at this bank', 'Job', 'Number of people being liable to provide maintenance for', 'Telephone', 'foreign worker', '1 = Good, 2 = Bad']

In [50]:
df_renamed = df_renamed.rename(columns={
    'Status of existing checking account': 'status_checking_account',
    'Duration': 'duration_in_month', "Credit history":"credit_history",
    "Purpose":"purpose", "Credit amount":"credit_amount","Savings account/bonds":"savings_account/bonds", "Other debtors / guarantors":"other_debtors_/_guarantors",
    'Present employment since': 'present_employment', "Property":"property", "Age":"age","Housing":"housing", "Telephone":"telephone", 
    "foreign worker":"foreign_worker",
    'Installment rate in percentage of disposable income': 'installment_rate',
    'Personal status and sex': 'gender_status',
    'Present residence since': 'present_residence',
    'Number of existing credits at this bank': 'existing_credits',
    'Job': 'job_skill',
    'Number of people being liable to provide maintenance for': 'number_of_dependents',
    '1 = Good, 2 = Bad': 'score'
})

In [51]:
df_renamed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 21 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   status_checking_account     1000 non-null   object
 1   duration_in_month           1000 non-null   int64
 2   credit_history              1000 non-null   object
 3   purpose                     1000 non-null   object
 4   credit_amount               1000 non-null   int64
 5   savings_account/bonds       1000 non-null   object
 6   present_employment          1000 non-null   object
 7   installment_rate            1000 non-null   int64
 8   gender_status               1000 non-null   object
 9   other_debtors_/_guarantors  1000 non-null   object
 10  present_residence           1000 non-null   int64
 11  property                    1000 non-null   object
 12  age                         1000 non-null   int64
 13  Other installment plans     1000 non-null   object
 14  housing                     1000 non-null   object
 15  existing_credits            1000 non-null   int64
 16  job_skill                   1000 non-null   object
 17  number_of_dependents        1000 non-null   int64
 18  telephone                   1000 non-null   object
 19  foreign_worker              1000 non-null   object
 20  score                       1000 non-null   int64
dtypes: int64(8), object(13)
memory usage: 164.2+ KB

In [76]:
# Adjust the score column inputs 
score_mapping = {1: 'good', 2: 'bad'}

# Apply the mapping to the 'score' column
df_renamed['score'] = df_renamed['score'].map(score_mapping)

# Verify the change
print(df_renamed['score'].value_counts())

score
good    700
bad     300
Name: count, dtype: int64