In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plot
import seaborn as sns

In [2]:
input_data = "../data/clean/de_credit_data_cleaned.csv"

In [4]:
df = pd.read_csv(input_data,sep=";")

In [33]:
# df.info()
df.head()

,status_checking_account,duration_in_month,credit_history,purpose,credit_amount,savings_account/bonds,present_employment,installment_rate,gender_status,other_debtors/guarantors,...,property,age,other_installment,housing,existing_credits,job_skill,number_of_dependents,telephone,foreign_worker,score
0,negative,6,critical account/ other credits existing (not ...,radio/television,1169,unknown/ no savings account,>= 7 years,4,male : single,none,...,real estate,67,none,own,2,skilled employee /official,1,yes,yes,1
1,< 200,48,existing credits paid back duly till now,radio/television,5951,< 100,1 - less than 4 years,2,female : divorced/separated/married,none,...,real estate,22,none,own,1,skilled employee /official,1,none,yes,2
2,no checking account,12,critical account/ other credits existing (not ...,education,2096,< 100,4 - less than 7 years,2,male : single,none,...,real estate,49,none,own,1,unskilled - resident,2,none,yes,1
3,negative,42,existing credits paid back duly till now,furniture/equipment,7882,< 100,4 - less than 7 years,2,male : single,guarantor,...,if not A121 : building society savings agreeme...,45,none,for free,1,skilled employee /official,2,none,yes,1
4,negative,24,delay in paying off in the past,car (new),4870,< 100,1 - less than 4 years,3,male : single,none,...,unknown/no propert,53,none,for free,2,skilled employee /official,2,none,yes,2

In [26]:
df["existing_credits"].unique()
df.shape

(1000, 21)

In [27]:
# df.groupby("score")["score"].count()
df.groupby("score")["age"].count()

score
1    700
2    300
Name: age, dtype: int64

In [16]:
df0 = df.set_index("score").sort_index()
# df0.tail(100)
# df0[df0["foreign_worker"]== "yes"]

,status_checking_account,duration_in_month,credit_history,purpose,credit_amount,savings_account/bonds,present_employment,installment_rate,gender_status,other_debtors/guarantors,present_residence,property,age,other_installment,housing,existing_credits,job_skill,number_of_dependents,telephone,foreign_worker
score,,,,,,,,,,,,,,,,,,,,
1,no checking account,24,critical account/ other credits existing (not ...,furniture/equipment,2028,< 100,4 - less than 7 years,2,male : single,none,2,if not A121 : building society savings agreeme...,30,none,own,2,unskilled - resident,1,none,yes
1,>= 200/salary assignments for at least 1 year,21,existing credits paid back duly till now,car (new),2923,100-499,1 - less than 4 years,1,female : divorced/separated/married,none,1,"if not A121/A122 : car or other, not in attrib...",28,bank,own,1,management/self-employed/highly qualified empl...,1,yes,yes
1,no checking account,9,critical account/ other credits existing (not ...,car (new),2134,< 100,1 - less than 4 years,4,male : single,none,4,"if not A121/A122 : car or other, not in attrib...",48,none,own,3,skilled employee /official,1,yes,yes
1,no checking account,24,existing credits paid back duly till now,radio/television,3430,500-999,>= 7 years,3,male : single,none,2,"if not A121/A122 : car or other, not in attrib...",31,none,own,1,skilled employee /official,2,yes,yes
1,negative,30,no credits taken/all credits paid back duly,business,8072,unknown/ no savings account,< 1 year,2,male : single,none,3,"if not A121/A122 : car or other, not in attrib...",25,bank,own,3,skilled employee /official,1,none,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2,< 200,45,critical account/ other credits existing (not ...,radio/television,4746,< 100,< 1 year,4,male : single,none,2,if not A121 : building society savings agreeme...,25,none,own,2,unskilled - resident,1,none,yes
2,negative,60,delay in paying off in the past,business,6836,< 100,>= 7 years,3,male : single,none,4,unknown/no propert,63,none,own,2,skilled employee /official,1,yes,yes
2,negative,45,existing credits paid back duly till now,radio/television,1845,< 100,1 - less than 4 years,4,male : single,none,4,unknown/no propert,23,none,for free,1,skilled employee /official,1,yes,yes
2,negative,24,delay in paying off in the past,car (new),4870,< 100,1 - less than 4 years,3,male : single,none,4,unknown/no propert,53,none,for free,2,skilled employee /official,2,none,yes
2,< 200,48,existing credits paid back duly till now,radio/television,5951,< 100,1 - less than 4 years,2,female : divorced/separated/married,none,2,real estate,22,none,own,1,skilled employee /official,1,none,yes

All customers have opening credits

In [55]:
df["status_checking_account"].value_counts(normalize=True).mul(100).round(2)

status_checking_account
no checking account                              39.4
negative                                         27.4
< 200                                            26.9
>= 200/salary assignments for at least 1 year     6.3
Name: proportion, dtype: float64

In [56]:
df["credit_history"].value_counts(normalize=True).mul(100).round(2)

credit_history
existing credits paid back duly till now                       53.0
critical account/ other credits existing (not at this bank)    29.3
delay in paying off in the past                                 8.8
all credits at this bank paid back duly                         4.9
no credits taken/all credits paid back duly                     4.0
Name: proportion, dtype: float64

In [57]:
df["purpose"].value_counts(normalize=True).mul(100).round(2)

purpose
radio/television       28.0
car (new)              23.4
furniture/equipment    18.1
car (used)             10.3
business                9.7
education               5.0
repairs                 2.2
domestic appliances     1.2
others                  1.2
retraining              0.9
Name: proportion, dtype: float64

In [59]:
df["savings_account/bonds"].value_counts(normalize=True).mul(100).round(2)

savings_account/bonds
< 100                          60.3
unknown/ no savings account    18.3
100-499                        10.3
500-999                         6.3
>= 1000                         4.8
Name: proportion, dtype: float64

In [58]:
df["present_employment"].value_counts(normalize=True).mul(100).round(2)

present_employment
1 - less than 4 years    33.9
>= 7 years               25.3
4 - less than 7 years    17.4
< 1 year                 17.2
unemployed                6.2
Name: proportion, dtype: float64

In [60]:
df["other_debtors/guarantors"].value_counts(normalize=True).mul(100).round(2)

other_debtors/guarantors
none            90.7
guarantor        5.2
co-applicant     4.1
Name: proportion, dtype: float64

In [61]:
df["property"].value_counts(normalize=True).mul(100).round(2)

property
if not A121/A122 : car or other, not in attribute 6                33.2
real estate                                                        28.2
if not A121 : building society savings agreement/life insurance    23.2
unknown/no propert                                                 15.4
Name: proportion, dtype: float64

In [62]:
df["property"].value_counts(normalize=True).mul(100).round(2)

property
if not A121/A122 : car or other, not in attribute 6                33.2
real estate                                                        28.2
if not A121 : building society savings agreement/life insurance    23.2
unknown/no propert                                                 15.4
Name: proportion, dtype: float64

In [63]:
df["other_installment"].value_counts(normalize=True).mul(100).round(2)

other_installment
none      81.4
bank      13.9
stores     4.7
Name: proportion, dtype: float64

In [64]:
df["housing"].value_counts(normalize=True).mul(100).round(2)

housing
own         71.3
rent        17.9
for free    10.8
Name: proportion, dtype: float64

In [65]:
df["existing_credits"].value_counts(normalize=True).mul(100).round(2)

existing_credits
1    63.3
2    33.3
3     2.8
4     0.6
Name: proportion, dtype: float64

In [66]:
df["job_skill"].value_counts(normalize=True).mul(100).round(2)

job_skill
skilled employee /official                                    63.0
unskilled - resident                                          20.0
management/self-employed/highly qualified employee/officer    14.8
unemployed/unskilled - non-resident                            2.2
Name: proportion, dtype: float64

In [67]:
df["number_of_dependents"].value_counts(normalize=True).mul(100).round(2)

number_of_dependents
1    84.5
2    15.5
Name: proportion, dtype: float64

In [68]:
df["telephone"].value_counts(normalize=True).mul(100).round(2)

telephone
none    59.6
yes     40.4
Name: proportion, dtype: float64

In [69]:
df["foreign_worker"].value_counts(normalize=True).mul(100).round(2)

foreign_worker
yes    96.3
no      3.7
Name: proportion, dtype: float64